<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                margin-left: 80px;
            }
        </style>
    </head>
    <body>
        <form action="/fact" method="GET">
            <h1>Do you want to hear an interesting fact?</h1>
            <select name="response">
                <option>YES</option>
                <option>NO</option>
                <option>ALL</option>
            </select>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>